h2{
    font-size:medium;
}
div#cod{
    margin-left: 2%;
}
#topo{
    border-bottom: 2px #606060 solid;
    margin-top: 1%;
    margin-left: 1%;
}
#tabela{
    margin: 2.5% 2.5% 2.5% 2.5%;
}
#sol{
    margin: 2% 3% 3% 3%;
}
#filtro{
    margin-top: -5%;
    margin-left: 75%;
}
#exportar{
    margin-top: -2%;
    margin-left:90%;
    margin-bottom: 2%;
}
#td{
    margin-left:10%;
    margin-top:-90;
}